apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: status
  name: status
spec:
  ingressClassName: nginx
  rules:
    - host: status
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: status
                port:
                  number: 80
