apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: serverstatus

resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: serverstatus
  managed-by: kustomize
