apiVersion: v1
kind: Service
metadata:
  namespace: status
  name: status
  labels:
    app: status
spec:
  type: ClusterIP
  selector:
    app: status
  ports:
    - name: http
      targetPort: 8080
      port: 80
      protocol: TCP
