apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: serverstatus
  name: serverstatus
spec:
  replicas: 2
  selector:
    matchLabels:
      app: serverstatus
  template:
    metadata:
      labels:
        app: serverstatus
    spec:
      containers:
        - name: main
          image: ghcr.io/weberc2/serverstatus
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          resources:
            limits:
              cpu: "500m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
