name: release
"on":
  push:
    branches:
      - '*'
    tags:
      - '*'
jobs:
  kubestatus:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Go Build Cache
        uses: actions/cache@v4
        with:
          key: go-cache
          path: /go-cache
      - name: Prepare Go Cache Dirs
        run: mkdir -p /go-cache/mod /go-cache/build
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          username: ${{ github.actor }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: TARGET=kubestatus
          context: kubestatus
          file: docker/golang/Dockerfile
          platforms: linux/amd64
          provenance: false
          push: true
          tags: |-
            ghcr.io/${{ github.repository_owner }}/kubestatus:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/kubestatus:latest
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Go Build Cache
        uses: actions/cache@v4
        with:
          key: go-cache
          path: /go-cache
      - name: Prepare Go Cache Dirs
        run: mkdir -p /go-cache/mod /go-cache/build
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: TARGET=linkcheck
          context: linkcheck
          file: docker/golang/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:latest
  rain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Go Build Cache
        uses: actions/cache@v4
        with:
          key: go-cache
          path: /go-cache
      - name: Prepare Go Cache Dirs
        run: mkdir -p /go-cache/mod /go-cache/build
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: ""
          context: ./docker/rain
          file: ./docker/rain/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/rain:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/rain:latest
