name: release
"on":
  push:
    branches:
      - '*'
    tags:
      - '*'
jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          cache: true
          cache-dependency-path: linkcheck/go.sum
          go-version: 1.x
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: TARGET=linkcheck
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: linkcheck
          file: docker/golang/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:latest
  rain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          cache: true
          cache-dependency-path: ./docker/rain/go.sum
          go-version: 1.x
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: ""
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./docker/rain
          file: ./docker/rain/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/rain:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/rain:latest
  serverstatus:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          cache: true
          cache-dependency-path: serverstatus/go.sum
          go-version: 1.x
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          username: ${{ github.actor }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: TARGET=serverstatus
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: serverstatus
          file: docker/golang/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ghcr.io/${{ github.repository_owner }}/serverstatus:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/serverstatus:latest
