name: release
"on":
  push:
    branches:
      - '*'
    tags:
      - '*'
jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: TARGET=linkcheck
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
          context: linkcheck
          file: docker/golang/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/linkcheck:latest
  rain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          username: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: ""
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
          context: ./docker/rain
          file: ./docker/rain/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |-
            ${{ secrets.DOCKER_USERNAME }}/rain:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/rain:latest
